.container{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background: #f0f2f5;
    border-radius: 5px;
    box-shadow: 0 4px rgba(0, 0, 0.2);
}

h1{
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}
.display{
     font-size: 3rem;
     color:#4a90e2;
     margin: 20px;
     padding: 10px ;
     border-radius: 10px;
     background-color: #fff;
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}

.button-group{
    display: flex;
    gap: 10px;
}

.button{
    padding: 4px 10px;
    font-size: 1.5rem;
    border: 1px;
    cursor: pointer;
}
.increment{
    margin-top: 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
}

.decrement{


     margin-top: 20px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}

.decrement1{


     margin-top: 20px;
    background-color: #443336;
    color: white;
    border-radius: 5px;
}